body{
    margin:0;
    background-color: white;
}

#formInput{
    box-sizing: border-box;
    float:left;
    width: 100%;
    margin : 10px;
    display: flex;
    justify-content: center;
}
#profiles{
    box-sizing: border-box;
    float:right;
    width: 100%;
    margin : 10px;
    display: none;
}
.profileTable thead{
    background-color: #f07404;
    color:white;
    width:auto;
    font-size:20px;
    padding:5px;
    margin-top:0px;
    text-align: center;
    font-weight: bold;
}

.profileTable{
    float:left;
    margin:15px;
    border-style:solid;
    border-color: #f07404;
    border-collapse: collapse;
    border-width: 1.5px;
    background-color: white;
}

.profileTable button{
    border:none;
    background-color: #f07404;
    color:white;
    padding:3px;
    font-size:15px;
}

.profileTable th{
    padding:6px;
    margin:5px;
    text-align: left;
    font-weight: normal;
}
.profileTable td{
    padding:6px;
    margin:5px;
    width:12ch;
    overflow-wrap: normal;
}
.profileTable p{
    margin : 0;
}
#logo{
    height: 50px;
    width: auto;
    margin:10px;
}
.switch{
    height: 50px;
    border:none;
    background-color: #f07404;
    color:white;
    float:right;
    font-size: 30px;
    border-radius: 10px;
    margin:10px;
}
header hr{
    color:#f07404;
}
#form p{
    background-color: #f07404;
    color:white;
    width:auto;
    font-size:20px;
    padding:5px;
    margin-top:0px;
    text-align: center;
    border-color:#f07404;
}
#form{
    padding:0px;
    border:none;
    background-color: white;
}
#form fieldset {
    border:none;
}
#otherThing{
    display:none;
    justify-content: center;
}
#inscription fieldset{
    border-style: solid;
    border-color:#f07404;
}
#column{
    column-count: 2;
    column-gap: 1rem;
    text-align: center;
}
fieldset{
    margin-top: 15px;
}
form button{
    margin-top: 15px;
}
legend{
    font-weight: bold;
}
