body{
    margin:0;
}
.profileTable{
    border-style: solid;
    border-width: 1px;
    margin:3px;
}
#formInput{
    box-sizing: border-box;
    float:left;
    width: 100%;
    margin : 10px;
    display: flex;
    justify-content: center;
}
#profiles{
    box-sizing: border-box;
    float:right;
    width: 100%;
    margin : 10px;
    display: none;
}
.profileTable{
    float:left;
    margin:15px;
}
.profileTable button{
    border:none;
    background-color: #f07404;
    color:white;
}
.profileTable th{
    border-style: solid;
    border-width: 1px;
    padding:6px;
    margin:5px;
}
.profileTable td{
    border-style: solid;
    border-width: 1px;
    padding:6px;
    margin:5px;
}
.profileTable p{
    margin : 0;
}
#logo{
    height: 50px;
    width: auto;
    margin:10px;
}
.switch{
    height: 50px;
    border:none;
    background-color: #f07404;
    color:white;
    float:right;
    font-size: 30px;
    border-radius: 10px;
    margin:10px;
}
header hr{
    color:#f07404;
}
#form p{
    background-color: #f07404;
    color:white;
    width:auto;
    font-size:20px;
    padding:5px;
    margin-top:0px;
    text-align: center;
    border-color:#f07404;
}
#form{
    padding:0px;
    border:none;
}
#form fieldset {
    border:none;
}
#otherThing{
    display:none;
}
#inscription fieldset{
    border-style: solid;
    border-color:#f07404;
}
